---
import { convertLexicalToHTML } from "@payloadcms/richtext-lexical/html";
import sdk from "../sdk";

const association = await sdk.findGlobal({ slug: "association" });
---

<section id="sticky">
    <div class="content">
        <div set:html={convertLexicalToHTML({ data: association.content! })} />
        <a href="https://wordlid.svsticky.nl" class="button" target="_blank">Word lid!</a>
    </div>

    <!-- Using <img> here because we don't want to preload the sticky logo -->
    <img
        src="https://public.svsticky.nl/logos/hoofd_outline_kleur.svg"
        alt="Sticky logo"
    />
</section>

<style lang="scss">
    @use '../common';

    #sticky {
        position: relative;
        display: grid;
        grid-template-columns: auto;

        .content {
            width: 100%;
            text-align: left;

            .button {
                display: inline-block;
                padding: 1rem 2rem;
                margin-top: 1rem;
                background-color: common.$board-colour;
                color: white;
                font-size: 1.2rem;
                border-radius: 5px;
                text-decoration: none;
                font-weight: bold;
                text-align: center;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        img {
            width: 100%;
            height: auto;
            display: none;
            margin: auto;
        }
    }

    @media (min-width: 800px) {
        #sticky {
            grid-template-columns: 65% 35%;

            img {
                display: block;
            }
        }
    }
</style>
