---
import { convertLexicalToHTML } from "@payloadcms/richtext-lexical/html";
import sdk from "../sdk";
import { Image } from "astro-preload/components";
import type { Media, Person } from "@svsticky/content";

const contact = await sdk.findGlobal({ slug: "contact" });

function isPerson(x: any): x is Person {
    return !!x["Name"];
}
---

<section id="contact">
    <div set:html={convertLexicalToHTML({ data: contact["Contact content"]! })} />

    <div class="contact-grid">
        {
            (contact["Contact people"]! as (Person | number)[]).map((person) => isPerson(person) && (
                <div class="contact-card">
                    <div class="contact-info">
                        <h3>{person["Name"]}</h3>
                        <p>
                            <strong>{person["Role"]}</strong>
                        </p>
                        <p>
                            <span class="icon">📧</span>
                            <span>{person["Email"]}</span>
                        </p>
                        <p>
                            <span class="icon">📞</span>
                            <span>{person["Phone"]}</span>
                        </p>
                    </div>
                    <Image
                        url={"http://localhost:3000" + (person["Photo"] as Media).url}
                        alt={(person["Photo"] as Media).alt}
                        class="contact-image"
                    />
                </div>
            ))
        }
    </div>

    <div set:html={convertLexicalToHTML({ data: contact["Confidential contact content"]! })} />

    <div class="contact-grid">
        {
            (contact["Confidential contact people"]! as Person[]).map((person) => (
                <div class="contact-card">
                    <div class="contact-info">
                        <h3>{person["Name"]}</h3>
                        <p>
                            <strong>{person["Role"]}</strong>
                        </p>
                        <p>
                            <span class="icon">📞</span>{" "}
                            <span>{person["Phone"]}</span>
                        </p>
                    </div>
                    <Image
                        url={"http://localhost:3000" + (person["Photo"] as Media).url}
                        alt={(person["Photo"] as Media).alt}
                        class="contact-image"
                    />
                </div>
            ))
        }
    </div>
</section>

<style lang="scss">
    @use '../common';

    .contact-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-top: 1.5rem;

        .contact-card {
            display: grid;
            grid-template-columns: 66.6% 33.3%;
            background: #fff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            border-left: 10px solid common.$board-colour;

            .contact-info {
                margin: auto 1.5rem;

                h3 {
                    margin: 0;
                    font-size: 1.4rem;
                    font-weight: bold;
                }

                p {
                    margin: 0.2rem 0;

                    span {
                        font-size: 0.85rem;
                    }
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            strong {
                color: black;
                hyphens: auto;
            }
        }
    }

    @media (min-width: 767px) {
        .contact-grid {
            grid-template-columns: 1fr 1fr;
        }
    }
</style>
