---
import { convertLexicalToHTML } from "@payloadcms/richtext-lexical/html";
import sdk from "../sdk";
import { CarouselHeader } from "@svsticky/components";
import type { Media } from "@svsticky/content";

const hero = await sdk.findGlobal({ slug: "intro-hero" });
const images = (hero.pictures as Media[]).map((image) => ({ url: image.url!, title: image.alt }));
---

<CarouselHeader images={images}>
    <div set:html={convertLexicalToHTML({ data: hero.Content! })}></div>
</CarouselHeader>