---
import "@fontsource/outfit";
import Nav from "../../components/nav.astro";
import { Footer } from "@svsticky/components";

import routes from "./routes";
import type { GetStaticPaths } from "astro";
import type { Config } from "@svsticky/content";

export const getStaticPaths = (() => {
    return routes.flatMap(route => [
        { params: { path: "nl/" + route.url }, props: { lang: "nl" } },
        { params: { path: "en/" + route.url }, props: { lang: "en" } },
    ]);
}) satisfies GetStaticPaths;

const { path } = Astro.params;
const nonLocalisedPath = path.slice(3);

const { lang } = Astro.props as { lang: Config["locale"] };
const { title, component: Component } = routes.find(route => route.url === nonLocalisedPath)!;
---

<!doctype html>
<html lang="nl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title[lang]}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    </head>
    <body>
        <Nav />
        <Component lang={lang} />
        <Footer />
    </body>
</html>

<style is:global>
    html,
    body {
        margin: 0;
        width: 100%;
        height: auto;
        font-family: "Outfit Variable", "Arial", "sans-serif";
        overflow-x: hidden;
    }
</style>
