---
import type { Config, Media } from "@svsticky/content";
import { CarouselHeader } from "@svsticky/components";
import { convertLexicalToHTML } from "@payloadcms/richtext-lexical/html";

import sdk from "../sdk";

const { lang } = Astro.props as { lang: Config["locale"] };

const hero = await sdk.findGlobal({ slug: "main-hero", locale: lang });
const images = (hero.pictures as Media[]).map(picture => ({ title: picture.alt, url: picture.url! }));
---

<CarouselHeader images={images} buttons={hero.buttons}>
    <div set:html={convertLexicalToHTML({data: hero.content})}></div>
</CarouselHeader>
<main>
    <h1>Welkom op de dikke <b>conjowebsite!</b></h1>
</main>

<style lang="scss" is:global>

    p {
        margin-bottom: 1rem;
    }

    h1 {
        font-size: clamp(2rem, 5vw, 2.5rem);
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: clamp(1.75rem, 4.5vw, 2rem);
        margin-top: .5rem;
        margin-bottom: .5rem;
    }
    h3 {
        font-size: clamp(1.5rem, 4vw, 1.5rem);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        hyphens: auto;

        > strong, > b {
            color: #fa6b20;
            font-weight: bold;
        }
    }

    a {
        color: #fa6b20;
    }

    /* PAGE LAYOUT STYLES */

    #signup ~ * {
        z-index: 20;
    }

    main {
        width: 90vw;
        max-width: 1200px;
        margin: 0 auto;
        overflow: visible;
        line-height: 1.4;
        color: #242424;

        > section {
            position: relative;
        }
    }

    @media screen and (min-width: 800px) {
        main {
            width: 75vw;
        }
    }

    li {
        p {
            margin-top: 0;
            margin-bottom: .5rem;
        }
    }

    html,body {
        margin: 0;
        padding: 0;
    }
</style>
