---
interface Props {
  title: string;
}

import "../styles/global.css";

const { title } = Astro.props;
---

<div class="flex flex-row mx-4 my-8">
  <hr class="border-gray-400 border w-full translate-y-[calc(1rem/2+8px)]">
  <h2 class="text-3xl font-bold mx-4">{title}</h2>
  <hr class="border-gray-400 border w-full translate-y-[calc(1rem/2+8px)]">
</div>