---
import Layout from "../../../../components/Layout.astro";
import Card from "../../../../components/Card.astro";

import type { Config, Media } from "@svsticky/content";
import sdk from "../../../../sdk";
import Heading from "../../../../components/Heading.astro";
export const getStaticPaths = () => [{params: {lang: "nl"}}, {params: {lang: "en"}}];
const { lang } = Astro.params as { lang: Config["locale"] };

const committees = (await sdk.find({ collection: "main-committee", locale: lang })).docs;
---

<Layout title={lang === "nl" ? "Commissies" : "Committees"} lang={lang}>
  <main class="w-[90%] max-w-280 mx-auto pb-16 text-[#242424]">
    <Heading title={lang === "nl" ? "Commissies" : "Committees"} />

    <section class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
      {committees.map(committee => (
        <Card link={`/${lang}/vereniging/commissies/${committee.slug}`} class="py-4 px-8">
          <img class="w-[70%] h-20 mb-4 object-contain" src={(committee.logo as Media).url} alt={(committee.logo as Media).alt} />
          <p class="bg-[rgba(0,0,0,0.05)] px-[0.6rem] py-[0.4rem] rounded-lg font-bold">{committee.name}</p>
        </Card>
      ))}
    </section>
  </main>
</Layout>